<header>
 
 	<div class  ="sm-header">
 		<div class="header-title">
	 		Joseph Lee
 		</div>
		<button class="btn dropdown header-options">
		   Menu Options
		</button>
	</div>
 	<ul id="header-links">
		<li> <a href="/" class = "header-link" ng-class="{'active-tab': tab == 'about'}">	About 		</a>	</li>
		<li> <a href="/blog" class = "header-link" ng-class="{'active-tab': tab == 'blog' }">	Blog		</a>	</li>
		<li> <a href="/resume" class = "header-link" ng-class="{'active-tab': tab == 'resume' }"> 	Resume		</a> 	</li>
		<li> <a href="/contact" class = "header-link" ng-class="{'active-tab': tab == 'contact' }"> 	Contact		</a> 	</li>
	</ul> 
</header>
