#header{
	z-index:1;
	position: fixed;
	width: 100%;
	margin-top: -20px;
	background-color: #668284
	margin-bottom:10px;
}
#Site_Title{
	float:left;
	margin-left: 5px;
	padding-top: 5px;
	font-size: 20px;
	color: #FFFFFF;
}