.nav{
	margin-bottom: 0;
	padding-left: 0;
	padding-top: 4px;
	padding-bottom: 4px;
	list-style:none;
}
.nav li{
	display:inline;
}

.nav a{
	color: #5a5a5a;
	font-size: 11px;
	font-weight:bold;
	padding: 14px 10px;
	text-transform: uppercase;
}
.container{
	margin-right:auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;	
}
.jumbotron{
	background-image:url('https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-ash3/t31.0-8/703677_3981336207437_81009758_o.jpg');
	height: 500px;
}
.jumbotron .container{
	position:relative;
	top:70px;
}
.jumbotron .container h1{
	color: white  ;
	font-family: Times;
	font-size:100px;
	font-weight: bold;
}
.jumbotron .container p{
	color: white  ;
	font-family: Arial;
	font-size: 30px;
}
.pull-left{
	float:left!important;
}
.pull-right{
	float:right!important;
}
