h1, h2, h3, h4, h5, h6, p, li, a, div, header, footer {
	font-family: "Helvetica Neue",Helvetica, "Times New Roman", Arial;
	font-style: normal;
	font-size: 12pt;
	font-variant: normal;
	font-weight: thin;
	text-decoration: none;
}

body {
	margin:0px;
	background-color: white;
}

ul {
	list-style: none;
}


/* The following is to modify the header of the website*/
header{
	display:block;
}
.nav {
	background-color: white;
	color: #808080;
	width: 100%;
	border-bottom: 1px solid #808080;
}
.nav ul{
	text-decoration: none;
	margin-left: 20%;
	margin-top: 2em;
	margin-bottom: 1.2em;
}
.nav ul li {
	display: inline;
	margin-right: 8%;
}
.nav a {
	vertical-align: baseline;
	color: black;
	margin: 0;
	padding: 0;
	border: 0;

}
.nav a:hover {
	color: #666;
}
.nav li:first-of-type a {
	text-transform: uppercase;
	letter-spacing: 0.1em;
	line-height: 1.5em;
	margin-right: 20%;
}

.jumbotron {
	height: 600px;
	width: 100%;
	clear:both;
	background: white;

}

/*These attributes are for the resume*/
.resume-body {
	width: 100%;
  display: block;
}


.box-style{
	border: 1px solid #808080;
	padding: 10px;
  display: block;
  margin: 2em auto 3em auto;
}

/*footer attributes*/
footer{

	margin: 0 auto;
	margin-top: 2em;
	padding-bottom: 10px;
	width: 100%;
	border-top: 1px solid #808080;
	padding-top: 1em;
	padding-bottom: 1em;
	vertical-align: center;

}
footer ul{
	display: inline;
	margin-left: 20%;
}
footer ul li{
	display: inherit;
	margin-right: 0.5em; 
}
footer p{
	margin-left: 33%;
	display: inline;

}
.icon {
	width: 30px;
}

.icon:hover{
	opacity: 0.3;
}

/*These attributes are used with the jQuery toggle*/
.slide-down{
	display: none;
    text-align: center;
    vertical-align: center;
    height: 480px;
}
.toggle-more{
	display: block;
	padding-left: 50px;
	background-color: blue;
}