body {
	font-size: 16px;
	margin: 0;
}

/*Header styles */
header {
/*	background-color: #212121;
*/	top:0;
	left:0;
	right:0;
	height: 4em;
	display: block;
	vertical-align: baseline;
	text-align: center;
}

/* General styles */

.btn {
	margin:.25em;
	border-radius: 5px;
	border: 1px solid white;
	background-color: inherit;
	color: white;
}

/* Header in Directive styles */


#header-links{
	list-style-type: none;		/*no bullets in list*/
	margin: auto;
	padding:0;
	display: inline-block;
	height: 100%;
	width: 100%;
}


#header-links li {
	float:left;
	width:25%;
	margin:0;
	vertical-align: baseline;
	height: 100%;
}

#header-links li a:hover {
	color: white;
	text-decoration: none;
}

.header-link {
	padding: .1em 1em;
	font-size: 1.5em; 	/* 48px */	
	font-family: Lato;
	font-weight: 100;
	text-transform: uppercase;
	color: black;
	margin:auto;
	line-height: 2.75em;
	text-decoration: none;
}

.active-tab {
	color:white;
}

.sm-header {
	display: none;
}


/* About page Styles */

.about {
    height:100vh;
	background: url(../../assets/img/homeLight.jpg) no-repeat center center fixed;
	background-repeat:no-repeat;
	background-size: cover;
}

.main-content {
	width: 100%;
	color: black;
	vertical-align: middle;
	text-align: center;
	font-family: Open Sans;
}

.main-title {
	text-align: center;
	font-size: 3em;
	font-weight: 800;
	margin-top: 3.5em;
}

.main-subtitle {
	text-align: center;
	font-size: 2em;
	font-weight: 500;
}

/* Resume Page Styles */

.resume {
    height:100vh;
	background: url(../../assets/img/farMt.jpg) no-repeat center center fixed;
	background-repeat:no-repeat;
	background-size: cover;
}

.resume-content {
	font-family: Open Sans;
}

.resume-title-header {
	font-weight: 900;
	font-family: Lato;
	font-size: 2.5em;
	text-align: center;
}

.resume-left {
	width: 50%;
	float: left;
	text-align: center;
}

.resume-right {
	width: 50%;
	float: right;
	text-align: center;
}

.resume-header {
	font-size: 1.25em;
	font-weight: 800;
	border-bottom: 1px solid black;
	border-width: 60%;
	margin: 0 10%;
	margin-top: 1em;
}

.resume-text {
	font-weight: 500;
	margin: 0 12%;
}

.progLang {
	margin-top: 1em;
	width: 60%;
	float:left;
}

.progLang th {
	border-bottom: 1px solid black;
}

.resume-skills {
	margin-top: 1em;
	width: 35%;
	float:right;
}

.resume-skills th {
	border-bottom: 1px solid black;
}

.experience {
	margin: 0 1`em;
}

.experience-title {
	font-size: 1.2em;
	font-weight: 700;
	margin-top: 1em;
	text-align: left;

}

.experience-content {
	font-size: .85em;
	font-weight: 500;
	margin-left: 1em;
	text-align: left;
}

/* Resume Page Styles */

.contact {
    height:100vh;
	background: url(../../assets/img/closeUpMt.jpg) no-repeat center center fixed;
	background-repeat:no-repeat;
	background-size: cover;
	font-family: Open Sans;
}

.contact-content {
	width: 50%;
	float: left;
	padding: 2em;
	text-align: center;
}

.contact-header {
	font-size: 2em;
	font-weight: 900;
	border-bottom: 1px solid black;
}

.contact-info {
	margin-top: 2em;
	font-weight: 600;
}

.link {
	color:white;
	text-decoration: none;
}
/* Responsive Design */

/*@media screen and (max-width: 1000px) { }*/