<div class = "contact">
	<site-header tab='contact'></site-header>
	<div class = "contact-content">
		<div class = "contact-header"> 
			Contact Information
		</div>
		<div class = "contact-info"> 
			Feel free to hit me up. <br />
			email:leej42@rpi.edu 	<br />
			Facebook:<a class="link" href="https://www.facebook.com/JoeyLee0925"> www.facebook.com/JoeyLee0925 		</a>	<br />
			LinkedIn:<a class="link" href="https://www.linkedin.com/in/josephwhan"> www.linkedin.com/in/josephwhan	</a>	<br />
			Instagram:<a class="link" href="https://instagram.com/joeylee0925/"> instagram.com/JoeyLee0925 			</a>	<br />
		</div>
	</div>
</div>