<div class = "resume">
	<site-header tab='resume'></site-header>
	<div class = "resume-content">
		<div class= "resume-title-header">Joseph Lee</div>
		<!-- Left Side of Resume -->
		<div class = "resume-left">
			<div class = "resume-header">
				Objective
			</div>
			<div class = "resume-text">
				Ambitious, curious, and inspired student seeking a experience field of computer engineering.
			</div>
			<div class = "resume-header">
				Education
			</div>
			
			<div class = "resume-text">
				<strong>Rensselaer Polytechnic Institute</strong>, <i>Troy</i>, NY <br />

				Bachelor of Science Degree in Computer and Systems Engineering
					Cumulative GPA: 3.73 / 4.00
			</div>

			<div class = "resume-header">
				Technical Skills
			</div>
			<div class = "resume-text">

				<table class = "progLang">
					<tr>
						<th colspan = "2">Programming Languages</th>
					</tr>
					<tr>
						<td>JavaScript</td><td>Advanced</td>
					</tr>
					<tr>
						<td>C++</td><td>Advanced</td>
					</tr>
					<tr>
						<td>Python</td><td>Intermediate</td>
					</tr>
					<tr>
						<td>HTML</td><td>Intermediate</td>
					</tr>
					<tr>
						<td>CSS</td><td>Intermediate</td>
					</tr>
					<tr>
						<td>Java</td><td>Novice</td>
					</tr>
					<tr>
						<td>C</td><td>Novice</td>
					</tr>

				</table>

				<table class = "resume-skills">
					<tr>
						<th>Skills</th>
					</tr>
					<tr>
						<td>Git</td>
					</tr>
					<tr>
						<td>Minitab</td>
					</tr>
					<tr>
						<td>LaTex</td>
					</tr>
					<tr>
						<td>Microsoft Office</td>
					</tr>

				</table>
			</div>
		</div>


		<!-- Right Side of Resume -->
		<div class = "resume-right">
			<div class = "resume-header">
			Professional Experience
			</div>
			<div class = "resume-text">
				<div class="experience">
					<div class="experience-title">
						NEOS LLC
					</div>
					<div class="experience-content">
						MEAN stack stuff goes here.... description on what I did... Some more description here ... yeah yeah yeah... <br />
						Another part goes here about something cool I worked on... lets do it... frogboi	<br />
					</div>
					<div class="experience-title">
						RCOS
					</div>
					<div class="experience-content">
						I do cool things and you should give me a job or something...  Some more description here ... yeah yeah yeah... <br />
						Another part goes here about something cool I worked on... 	lets do it... frogboi	<br />
					</div>
				</div>
			</div>

			<div class = "resume-header">
			Leadership and Activities
			</div>
			<div class = "resume-text">
				<div class="experience">
					<div class="experience-title">
						Student Orientation Advisor 
					</div>
					<div class="experience-content">
						MEAN stack stuff goes here.... description on what I did... <br />
						Another part goes here about something cool I worked on... 	<br />
					</div>
					<div class="experience-title">
						Math Mentor 
					</div>
					<div class="experience-content">
						I do cool things and you should give me a job or something... <br />
						Another part goes here about something cool I worked on... 	<br />
					</div>
				</div>

			</div>

			<div class = "resume-header">
				Awards
			</div>
			<div class = "resume-text">
				RPI Deans List: <br />
				Spring '14, Fall '14, Spring '15 

			</div>
		</div>
	</div>
	<!-- <a class="btn btn-primary" href="assets/resume/Resume.pdf">Download</a> -->
</div>